# Node / Next.js
client/node_modules/
client/.next/
client/tsconfig.tsbuildinfo

# .NET
server/**/bin/
server/**/obj/

# Variáveis de ambiente
.env
.env.local

# Dados de produção (imagens de produtos)
data/

# IDEs
.idea/
.vscode/

# macOS
.DS_Store
